.btn-topo{
    position: fixed;
    top: 90vh;
    left: 91vw;
   background-color: rgb(113, 170, 113);
    color: rgb(113, 170, 113);
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 1px rgb(113, 170, 113);
    /*border: 2px solid rgb(113, 170, 113);*/
    border-radius: 50%;  
    cursor: pointer;  
    padding: 1px;
}
.btn-topo:active{
    box-shadow: 2px 3px 4px rgb(113, 170, 113);   
}