footer{
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color: #71aa71;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 100%;
    max-width: 250px;
    height: 80px;
}
.list1{
    width: 100%;
    list-style: none;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list1 li{
    margin-bottom: 8px;
}
.list1 li a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.list1 li a:hover{
    text-decoration: underline;
}
.list1 li a:active{
    color: salmon;
}
footer .pe1{
    width: 100%;display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
footer .pe1 h3{
    margin-bottom: 15px;
    color: #fff;
}
footer .list2{
    width: 100%;
    padding: 5px 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
footer .list2 li{
    margin: 5px 10px;
}
footer .list2 li a img{
    height: 40px;
    width: 40px;
}
footer small{
    text-align: center;
    color: #fff;
}