header{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imagens/walltopo.jpg');
}
header img:first-child{
    height: 80px;
    width: 80px;
    margin: 15px auto;
    border-radius: 50%;
}
header h1 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: salmon;
    text-shadow: 2px 3px 3px black;
}
header form{
    width: 100%;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}
header form input{
    border-right: none;
    border-radius: 5px; 
    width: 345px;
    height: 40px;
    margin: 0 auto;
    padding: 2px 5px;
    text-align: center;
}
header form img{
    height: 25px;
    width: 8%;
    margin: 0;
    cursor: pointer;
    cursor: progress;
    position: relative;
    right: 35px;
}
header form img:active{
    background-color: rgb(252, 182, 174);
}
