.submit-lente {
  position:absolute;
  top:0; right:0;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}

.submit-line {
  position: relative;
  width: 400px;
}

.submit-line input {
  width: 100%;
}
.submit-line button img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
