h2:first-child{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    width: 80%;
    text-align: left;
    border-bottom: 2px solid salmon;
    color: rgb(126, 126, 126);
}
h2{
    width: 100%;
}
.box1{
    width: 100%;
    margin: 0 auto;
    background-image: url("../imagens/espada1.jpg");
    background-position: center;
    background-size: 1500px;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.box1 p{
    font-size: 1.2rem;
    padding: 15px 25px;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
p{
    font-size: 1.2rem;
    padding: 0px 25px;
    text-align: left;
    color: black;
    margin-bottom: 15px;
    text-indent: 25px;
}

.imagem{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem img{
    width: 100%;
    height: 300px;
    max-width: 550px;
    margin: 0 auto;
}
.box2{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.box2 .texto1 p{
    margin-top: 8px;
}
.box2 img{
    width: 450px;
    height: 250px;
    margin: 0 auto;
}
.box3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(25, 68, 68);
}
.box3 p, .box3 h2{
    color: #fff;
}
.box3 img{
    width: 100%;
}
.box-img1, .box-img2{
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.box-img1{ 
    background-image: url('../imagens/samurai2.jpg');
    background-position: center;
    background-size: 100%; /*490px*/
}
.box-img1 p{
    color: #fff;
}
.box-img2{
    height: 300px;
    background-image: url('../imagens/samurai1.jpg');
    background-position: center;
    background-size: 100%;
}
.box-img1 h2{
    font-size: 1.2rem;
    color: #fff;
    border-bottom: none;
    padding-left: 15px;
    padding-top: 8px;
    height: 40px;
    border-left: 4px solid green;
}
.box4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(25, 68, 68);
    padding: 15px;
}
.box4 img{
    width: 450px;
    height: 340px;
}
.box4 p{
    color: #fff;
}
.box4 h2{
    text-shadow: 1px 1px 1px #fff;
}
