@import "header.css";
@import "nav.css";
@import "botoes.css";
@import "main.css";
@import "input.css";
@import "footer.css";
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
html, body{
    width: 100% !important;
    background-color: #eee;
}
#container{
    width: 100%;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}
/*QUEBRAS - Para a responsividade*/

@media (min-width: 755px) {
    header, nav, main{
        flex-direction: row;
    }
    header{
        height: 20vh;
        justify-content: space-around;
    }
    nav{
        padding: 8px 15px;
    }
    header img{
        width: 20%;
    }
    header h1{
        margin: 15px;
        width: 30%;
        text-align: center;
    }
    .redirect{
        padding: 15px 10px;
    }
    
    main{
        flex-wrap: wrap;
    }
    .btn-topo, .redirect{
        display: none;
    }
}
@media (min-width: 1200px){
    #container main{
        width: 100%;
        display: grid;
        grid-template-rows: 50px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
        grid-template-columns: 125px 125px 125px 125px 125px 125px 125px 125px 120px;
        grid-column-gap: 10px; 
        grid-row-gap: 15px;
    }
    #container main #rolar1{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        border: none;
    }
    #container main .box1{
        grid-column: 1 / 7;
        grid-row: 2 / 5;   
    }
    #container main .box2{
        grid-row: 7 / 9;
        grid-column: 1 /7;
    }
    #container main .box2 .texto1{
        grid-row: 4 / 6;
        grid-column: 1 /4;   
    }
    #container main .box3{
        grid-row: 4 / 7;
        grid-column: 1 / 7;
    }
    .box2 img{
        max-width: 320px;
    }
    .box2, .texto1{flex-direction: column;}
   
   #container main .box2{
       grid-row: 1 / 5;
       grid-column: 7 / 10;
   }
   #container main .box3{
       grid-row: 5 / 11;
       grid-column: 1 / 6;
   }
   #container main .box3 .texto2 img{
       height: 460px;
       width: 300px;
   }
   #container main .box3{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
   }
   #container main .box3 img{
       margin-left: 150px;
       margin-top: 20px;
       margin-bottom: 20px;
   }
   #container main .box-img1{
       background-size: 100%;
       max-height: 645px;
       grid-row: 5 / 9;
       grid-column: 6 / 9;
   }
   #container main .box-img2{
       grid-row: 9 / 11;
       grid-column: 6 / 10;
   }
   #container main .box4{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: flex-start;
       grid-row: 11 / 14;
       grid-column: 1 / 10;
   }
   #container main div{
       grid-row: 11 / 14;
       grid-column: 1 / 5;
   }
   #container main .box5{
       display: flex;
       flex-direction: row;
       grid-row: 14 / 16;
       grid-column: 1 /10;
   }
   #container main .box5 p{
       width: 30%;
   }
   #container footer{
       display: grid;
       grid-template-rows: 100px 100px;
       grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 140px;
       grid-column-gap: 10px;
       grid-row-gap: 10px;
   }
   #container footer .list1{
       grid-row: 1 / 2;
       grid-column: 1 / 3;
   }
   #container footer img{
        grid-row: 1 / 2;
        grid-column: 4 / 6;   
   }
   #container footer .pe1{
       grid-row: 1 / 2;
       grid-column: 7 / 10;
   }
   #container footer small{
       grid-row: 2 / 3;
       grid-column: 4 / 7;
   }
}
